body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-color: rgb(5, 17, 30);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    background-color: #091623;
    color: #6885A7;
    border: 0.3px solid rgba(120, 180, 239, 0.171);
    font-size: 1.2em;
    box-shadow: 0;
    font-family: sans-serif;
}

button:hover{
    background-color: #0c1b2a;
}

button:focus{
    background-color: #12273b;
}

.output{
    font-family: sans-serif;
    color: #6885A7;
    width: 100%;
    padding: 25px 10px;
    background-color: #050e18;
    border-bottom: 0.3px solid rgba(120, 180, 239, 0.171);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    font-size: 1.7em;
}

.calculator{
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px 0 rgba(1, 136, 255, 0.168);
    border: 0.4px solid rgba(192, 224, 255, 0.171);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.operator{
    color: rgba(192, 224, 255, 0.171);
    font-size: 22px;
    position:absolute;
    top: 10px;
    left: 10px;
    font-family: sans-serif;
}

.calculator{
    animation: glow 5s ease infinite alternate, fadeIn 1.2s ease;
}

@keyframes fadeIn {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes glow {
    from{
        box-shadow: 0 0 30px 0 rgba(1, 136, 255, 0.168);
    }
    to{
        box-shadow: 0 0 30px 0 rgba(120, 1, 255, 0.168);
    }
}

.previous{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgba(192, 224, 255, 0.171);
    font-size: 12px;
    font-family: sans-serif;
}